.Overlay {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  height: 150rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(57, 55, 72, 0.22);
}

.Modal {
  position: absolute;
  box-sizing: border-box;
  background-color: #ffffff;
  overflow-y: scroll;
  width: 350px;
  padding: 8px 16px 20px;
  top: 0;
  max-height: 540px;
  right: 101px;
}

.title {
  font-family: Raleway;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #1d1f22;
  margin-bottom: 23px;
}

.totalItems {
  font-family: Raleway;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #1d1f22;
}

.modalOptions {
  position: sticky;
  overflow: hidden;
  bottom: -20px;
  background-color: #fff;
}
