.item {
  position: relative;
  box-sizing: border-box;
  width: 386px;
  height: 444px;
  padding: 16px;
  margin-bottom: 103px;
  cursor: pointer;
  transition: all 250ms;
}

.item:nth-child(-3n) {
  margin-bottom: 0;
}

.item:nth-child(3n + 2) {
  margin: 0 40px;
}

.item:hover {
  box-shadow: 0 4px 35px rgba(168, 172, 176, 0.19);
}

.link {
  text-decoration: none;
}

.image {
  position: relative;
  display: block;
  margin: 0 auto 24px;
  width: 354px;
  height: 330px;
  object-fit: cover;
}

.imageBlur {
  position: absolute;
  align-items: center;
  padding-top: 136px;
  padding-bottom: 270px;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 160%;
  color: #8d8f9a;
  top: 0;
  left: 0;
  width: 386px;

  background: #ffffff;
  opacity: 0.5;
}

.itemName {
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  color: #1d1f22;
}

.price {
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #1d1f22;
}
