.counter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #1d1f22;
  margin:0 24px;
}

.btn {
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  background: none;
  border: 1px solid #1d1f22;
  cursor: pointer;
}

.bigBtn:active {
  transform: scale(0.95);
}

.bigBtn {
  width: 45px;
  height: 45px;
  box-sizing: border-box;
  background: none;
  border: 1px solid #1d1f22;
  cursor: pointer;
}

.bigValue {
  font-family: Raleway, serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;
  color: #1d1f22;
}
