.cartTotalQuantity {
    font-family: Raleway, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

.cartTax {
    font-family: Raleway, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    border-top: 1px solid #e5e5e5;
}

.cartTotal {
    font-family: Raleway, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 18px;
    margin-bottom: 20px;
}

.cartTotalPrice {
    font-weight: 700;
    font-size: 24px;
    line-height: 160%;
    margin-left: 24px;
}