.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Raleway, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  padding-top: 32px;
}
.totalPrice {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  margin-left: 24px;
}
