.item {
  height: 186px;
  padding-top: 20px;
  border-top: 1px solid #e5e5e5;
  margin-bottom: 20px;
}

.miniCard {
  display: flex;
  justify-content: space-between;
  height: 185px;
  color: #1d1f22;
}

.leftSide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.itemName {
  font-family: Raleway;
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
}

.itemPrice {
  font-family: Raleway, serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 18px;
}

.attributes {
  display: flex;
}

.itemAttrs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  min-width: 63px;
  padding: 3px;
  height: 45px;
  font-family: Source Sans Pro, serif;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  border: 1px solid #1d1f22;
}
.coloredLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0;
  margin-right: 5px;
  padding: 3px;
  width: 63px;
  height: 45px;
  border: 1px solid #1d1f22;
}

.rightSide {
  display: flex;
}
.carousel {
  list-style: none;
  margin-left: 12px;
}

.itemImage {
  display: block;
  width: 141px;
  height: 185px;
  object-fit: contain;
}
